<ul>
  <li>
   <a href="/user_sign_in">Sign in</a>
</li>
<li>
   <a href="/user_sign_up">Sign up</a>
</li>
<li>
   <a href="/users">Find friends</a>
   </li>
   </ul>

<h1>Welcome <%= @current_user %> </h1>
<div>
</div>
<% end %> 