<ul>
  <li>
   <a href="/user_sign_in">Sign in</a>
</li>
<li>
   <a href="/user_sign_up">Sign up</a>
</li>
<li>
   <a href="/users">Find friends</a>
   </li>
   <li>
   <a href="/posts">Browse posts</a>
   </li>
   <li>
   <a href="/comments">Browse comments</a>
   </li>
   </ul>
<h1>All users</h1>

<table border="1">
  <tr>

    <th>
      Name
    </th>

    <th>Their page</th>
  </tr>

<% @users.each do |user| %>
<tr>

<td>
<%= user.first_name %>
</td>

<td>
<a href="/users/<%= user.first_name %>">Show details </a>
</td>


<% end %>
</table>



